html, body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 120%;
}

body {
  padding: 5px 10px;
}

.like-list, .change-list {
  text-align: center;

  ul {
    text-align: left;

    li {
      .like-column, .change-column {
        .like-text, .change-text {
          display: table-cell;
          padding-right: 15px;
        }
      }

      & + li {
        margin-top: 1.5em;
      }
    }
  }
}

.btn-like.btn {
  background-color: darken(green, 5);
}

.btn-change.btn {
  background-color: lighten(red, 20);
}

button.delete {
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
  padding: 3px;
}

button.move-forward {
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
  padding: 3px;
}

form.date-form {
  height: 2rem;
}

input.datepicker {
  border: none;
  font-size: .7em;
  height: auto;
  width: auto;
}

.date-row {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1000;

  button {
    font-size: .8rem;
    line-height: 250%;
    background: none;
    border: none;
  }
}

#login-buttons a {
  text-decoration: none;
  color: #26A69A;
}

.fa-ul {
  margin: 0px;
}

.hidden {
  display: none;
}
